.working-process{
    margin-top: 138px;
    @media (max-width: 1100px){
        margin-top: 50px;
    }
    h2{
        font-size: 3.438rem;
        @media (max-width: 1100px){
            font-size: 3rem;
        }
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
        margin-top: 111px;
        position: relative;
        @media (max-width: 1100px){
            grid-template-columns: repeat(2, 1fr);
            margin-top: 50px;
        }
        @media (max-width: 600px){
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 35px;
        }
        .arrow-top1{
            position: absolute;
            top: -8%;
            left: 30%;
            transform: translateX(-50%);
            @media (max-width: 1100px){
                display: none;
            }
        }
        .arrow-top2{
            position: absolute;
            top: -8%;
            right: 16%; 
            transform: translateX(-50%);
            @media (max-width: 1100px){
                display: none;
            }
        }
        .arrow-mid{
            position: absolute;
            top: 39%;
            left: 50%;
            transform: translateX(-50%);
            @media (max-width: 1100px){
                display: none;
            }
        }
        .arrow-bot1{
            position: absolute;
            bottom: 5%;
            left: 30%;
            transform: translateX(-50%);
            @media (max-width: 1100px){
                display: none;
            }
        }
        .arrow-bot2{
            position: absolute;
            bottom: 5%;
            right: 16%;
            transform: translateX(-50%);
            @media (max-width: 1100px){
                display: none;
            }
        }
    }
    &__item{
        padding: 48px 25px 0 25px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
        position: relative;
        height: 260px;
        margin-bottom: 104px;
        @media (max-width: 1100px){
            margin-bottom: 30px;  
        }
        @media (max-width: 600px){
            margin-bottom: 0;
            height: 250px;  
        }
        .process-img{
            position: absolute;
            right: 0;
            bottom: -5%;
        }
        .img1{
            max-width: 164px;
        }
        .img2{
            max-width: 110px;
        }
        .img3{
            max-width: 121px;
        }
        .img4{
            max-width: 119px;
        }
        .img5{
            max-width: 136px;
        }
        .img6{
            max-width: 70px;
        }
    }
    &__item-title{
        display: flex;
        justify-content: flex-start;
        h3{
            font-size: 4rem;
            margin: auto 43px auto 0;
            -webkit-text-stroke: 2px #ffffff;
            font-family: 'Montserrat Alternates', sans-serif;
            color: transparent;
        }
        p{
            margin: auto 0 auto 0;
            font-weight: 700;
            font-size: 1.25rem;
            max-width: 297px;
        }
    }
}

.pricing{
    margin-top: 100px;
    @media (max-width: 1100px){
        margin-top: 50px;
    }
    h2{
        font-size: 3.438rem;
        @media (max-width: 1100px){
            font-size: 3rem;
        }
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 71px;
        margin-top: 86px;
        @media (max-width: 1100px){
            grid-gap: 30px;
            margin-top: 40px;
        }
        @media (max-width: 880px){
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
        }
    }
    &__item{
        padding: 27px 25px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
        @media (max-width: 880px){
            max-width: 551px;
            width: 100%;
        }
        h3{
            font-size: 1.25rem;
            margin-top: 33px;
        }
        p{
            font-size: 1.063rem;
            margin-top: 10px;
        }
        img{
            max-width: 75px;
            max-height: 69px;
        }
    }
    &__price{
        display: flex;
        justify-content: flex-start;
        margin-top: 38px;
        h3{
            margin-top: 0;
            font-size: 1.625rem;
            background: linear-gradient(90deg,#4eb1d6 0,#3783ad 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__days{
        display: flex;
        justify-content: flex-start;
        margin-left: 40px;
        img{
            max-width: 26px;
            max-height: 26px;
        }
        p{
            margin: auto 0 auto 10px;
        }
    }
    &__button{
        padding: 12px 50px;
        font-size: 1rem;
        font-weight: 700;
        color: white;
        border-radius: 50px;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
        background: linear-gradient(90deg, #4EB1D6 -0.15%, #3783AD 100%);
        display: inline-block;
        margin-top: 33px;
        transition: 0.3s ease;
        &:hover{
            transform: scale(1.05);
        }
    }
}