		<footer class="footer">
			<div class="footer__content container">
				<div class="footer__description">
					<h1>Готов стартовать?</h1>
					<p>Свяжись с нами!</p>
					<img src="img/rocket.svg" alt="#">
				</div>
				<form action="#" class="form">
					<div class="row">
						<input type="text" placeholder="Имя">
						<input type="phone" placeholder="Телефон">
					</div>
					<div class="row">
						<input type="email" placeholder="E-mail">
						<input type="text" placeholder="Название стартапа">
					</div>
					<textarea name="#" id="#" cols="30" rows="7" placeholder="Пара слов о проекте"></textarea>
					<button class="button">Полетели!</button>
				</form>
			</div>
			<div class="footer__content footer__content-company container">
				<div class="footer__description">
					<h1>Нужно создать визуальный бренд?</h1>
					<p>Свяжитесь с нами</p>
					<img src="img/satilite.svg" alt="#">
				</div>
				<form action="#" class="form">
					<div class="row">
						<input type="text" placeholder="Имя">
						<input type="phone" placeholder="Телефон">
					</div>
					<div class="row">
						<input type="email" placeholder="E-mail">
						<input type="text" placeholder="Название проекта">
					</div>
					<textarea name="#" id="#" cols="30" rows="7" placeholder="Пара слов о проекте"></textarea>
					<button class="button">Запустить проект!</button>
				</form>
			</div>
			<div class="footer__bottom container">
				<a href="index.html" class="logo"><img src="img/logo-enter.svg" alt="logo"></a>
				<p>© 2021 Launch Deck</p>
				<a href="#">Политика конфиденциальности</a>
				<a href="#">Пользовательское соглашение</a>
				<a href="#">Политика рассылок</a>
				<div class="row">
					<a href="#"><img src="img/telegram.svg" alt="telegram"></a>
					<a href="#"><img src="img/mail.svg" alt="mail"></a>
				</div>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
		<script src="js/script.min.js?v=1.1.0"></script>

	</div>
</body>
</html>